.section {
  margin: 0px auto;
  padding: 0.5rem;
}

.section > label,
.section > div > input {
  font-size: 2em;
}

.section > div {
  position: relative;
}

.searchIcon {
  font-size: 2.5em;
  justify-self: end;
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.section > div > input {
  padding: 1rem;
  padding-left: 6rem;
  width: 100%;
  text-overflow: ellipsis;
  box-shadow: 0.9rem 0.9rem 1px indigo;
}

.searchProviderList {
  position: absolute;
  background-color: #fff;
  padding: 1rem;
  margin-top: 1px;
  height: 15rem;
  display: none;
  overflow-x: scroll;
  transition: 1s all ease-in;
  z-index: 1;
}

.searchProviderList.show {
  display: block;
}

.searchProviderList > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.searchProviderList > ul > li {
  display: block;
  margin: auto auto 1rem auto;
  padding: none;
  font-size: 2em;
}
