.universe {
  margin: 0px auto;
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  background-color: #1a1a1a;
  background-attachment: fixed;
}

.searchBarContainer {
  width: 80%;
  margin: 0px auto;
}
